.footer-container {
  background-color: var(--primaryColor);
  color: var(--white);
  padding: 1em 0;
}
.footer-grid {
  display: grid;
  gap: 3em;
  grid-template-areas: "footer-index-1 footer-index-2 footer-index-3";
  grid-template-columns: 1.2fr 1fr 1fr;
}
.footer-index-1 {
  grid-area: footer-index-1;
}

.footer-index-1-inner-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 0.5em;
  margin: 1em 0;
}
.footer-index-1-content {
  padding: 0 1em;
  font-size: 1.1em;
}
.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}
.footer-index-2 {
  grid-area: footer-index-2;
}
.footer-index-3 {
  grid-area: footer-index-3;
}

.footer-copyright {
  color: #323232;
  font-weight: 300;
  background-color: rgb(244, 245, 246);
}
.copyright-inner {
  padding: 0.3em 0;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "footer-index-1 footer-index-1" "footer-index-2 footer-index-3";
  }
}
@media screen and (max-width: 800px) {
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "footer-index-1" "footer-index-2" "footer-index-3";
  }
}
