@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  /* background-color: rgb(244, 245, 246); */
  --primaryColor: #1a73e8;
  --secondaryColor: #e86d1a;
  --tertiaryColor: #e8d31a;
  --quaternaryColor: #bb1ae8;
  --white: #ffffff;
  --black: #000;
  --lightBlack: #444;
  --lightShadow: rgba(0, 0, 0, 0.15);
}
.spacing-5 {
  padding: 2.5em 0;
}
.container-big {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container-big {
    width: 735px;
  }
}

@media (min-width: 992px) {
  .container-big {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-big {
    width: 1170px;
  }
}

@media (min-width: 1350px) {
  .container-big {
    width: 1320px;
  }
}

@media (min-width: 1450px) {
  .container-big {
    width: 1420px;
  }
}
