.loader-inner-svg {
  margin: 0 auto;
  height: 70px;
  width: 70px;
  animation: rotateZ 3s ease-in-out infinite forwards;
}
@keyframes rotateZ {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.loader-circle {
  stroke: var(--primaryColor);
  animation: stroke-anim 5s ease-in-out infinite forwards;
  stroke-dasharray: 130;
}
@keyframes stroke-anim {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
